# For frontend

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=YOUR_CLERK_PUBLISHABLE_KEY
CLERK_SECRET_KEY=YOUR_CLERK_SECRET_KEY

GITHUB_CLIENT_ID=YOUR_GITHUB_CLIENT_ID
GITHUB_CLIENT_SECRET=YOUR_GITHUB_CLIENT_SECRET

NEXT_PUBLIC_API_URL=http://localhost:8000


# For backend api

CLERK_JWT_ISSUER=YOUR_CLERK_JWT_ISSUER
CLERK_JWT_JWKS_URL=YOUR_CLERK_JWT_JWKS_URL
CLERK_SECRET_KEY=YOUR_CLERK_SECRET_KEY
GITHUB_CLIENT_ID=YOUR_GITHUB_CLIENT_ID
GITHUB_CLIENT_SECRET=YOUR_GITHUB_CLIENT_SECRET
GITHUB_REDIRECT_URI=YOUR_GITHUB_REDIRECT_URI